<article class="photo">
  <img src="http://i.imgur.com/dBZsBSQ.png" width="100%" height="100%">
  <div class="photo-overlay"/>
    <section>
      <p class="text-auto-size">Thank you for downloading GlassFit. Be careful when working out and always stretch before commencing your workout</p>
      <p class="text-auto-size">Be sure to look at the demonstrations and do each excersise correctly to avoid injury. You're part of a very early beta test so I encourage your feedback. </p>
    </section>
  </div>
</article>
