<!DOCTYPE HTML>
<head>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,100' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <!--[if ie]>
    <meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlassFit | A virtual fitness coach for Google Glass </title>


    <!-- StileSheet -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-responsive.css"/>

    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="static/css/fallback.css"/>
    <![endif]-->

    <!--[if lt IE 10]>
    <link rel="stylesheet" type="text/css" href="static/css/style_ie.css"/>
    <![endif]-->

    <!-- javascript -->
    <script src="static/js/jquery-1.7.2.js"></script>
    <!-- jQuery 1.7.2 -->
    <script src="static/js/jquery.countdown.js"></script>
    <!-- Jquery CountDown Function -->
    <script src="static/js/plugins.js"></script>
    <!-- Plugins -->
    <script src="static/js/main.js"></script>
    <!-- Main -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- Google Map -->

    <!-- End Head -->
</head>


<!-- Start Body -->
<body>


<!-- Block Home -->

<div class="home blockhome" id="home">

    <!-- Logo -->

    <div class="container-logo">
        <div class="row-fluid">
            <div class="span12">
                <h1 class="logo"><a href="#home" title=""><img src="static/images/logo.png" alt="logo"/></a></h1>
            </div>
        </div>
    </div>


    <!-- Welcome Card - First Page-->


    <div class="row-fluid">
        <div class="span12 banner">

            <!--begin timecard content -->
            <article class="glass-view">
                <section>
                    <div class="layout-figure">
                        <div class="align-center">
                            <div class="clear"><br/></div>
                            <img src="static/images/actions/squat.gif" alt="GlassFit Sample Workout"/>
                        </div>
                        <div class="">
                            <div class="">
                                {% if message %}
                                <span class="label label-warning">Message: {{ message }}</span>
                                {% endif %}
                            </div>
                            <h1 class="text-large">GlassFit</h1>

                            <p class="text-small">You have successfully authorized Glassfit on your Glass. <a
                                    href="https://glass.google.com/u/0/myglass/share" target="_blank">MyGlass</a></p>

                        </div>
                    </div>
                </section>
                <footer>
                    <div>
                        <form class="navbar-form pull-right" action="/signout" method="post">
                            <button type="submit">Sign out</button>
                        </form>

                    </div>
                </footer>
            </article>
            <!-- end timecard content-->

            <!--end banner slider -->
        </div>
    </div>
</div>


<!-- Copyright Text -->

<div class="row-fluid">
    <div class="span12">
        <div class="container-copyright">
            <p>Copyright © Anobleworld S3, Inc. and All Right Reserved</p>

        </div>
    </div>
</div>

</div><!-- End Block Contact - Lastpage-->


<script type="text/javascript" src="static/js/jquery.gridrotator.js"></script>
<!-- Grid Rotator -->

<!-- To do: add analytics.js -->

</body>
</html>